WORKOS_CLIENT_ID=""
WORKOS_API_KEY=""
WORKOS_REDIRECT_URI="http://localhost:5173/auth/callback"
WORKOS_SESSION_ID_COOKIE_NAME="workos_session_id"

JWT_PRIVATE_KEY_BASE64=""
JWT_PUBLIC_KEY_BASE64=""
JWT_KEY_ID=""
JWT_COOKIE_NAME="axonotes_auth_token"

PUBLIC_SPACETIME_WS="ws://localhost:3000"
PUBLIC_SPACETIME_MODULE_NAME="axonotes"