WORKOS_CLIENT_ID=""
WORKOS_API_KEY=""
WORKOS_REDIRECT_URI="http://localhost:5173/auth/callback"
WORKOS_SESSION_ID_COOKIE_NAME="workos_session_id"

JWT_PRIVATE_KEY_BASE64=""
JWT_PUBLIC_KEY_BASE64=""
JWT_KEY_ID=""
JWT_ISSUER="http://localhost:5173"

REFRESH_TOKEN_COOKIE_NAME="axonotes_auth_refresh_token"
PUBLIC_ACCESS_TOKEN_COOKIE_NAME="axonotes_auth_access_token"
WEB_REFRESH_TOKEN_EXPIRES_IN="7d"
WEB_ACCESS_TOKEN_EXPIRES_IN="15m"

PUBLIC_SPACETIME_WS="ws://localhost:3000"
PUBLIC_SPACETIME_MODULE_NAME="axonotes"

DESKTOP_AUTH_SESSION_TTL="300"
DESKTOP_AUTH_CALLBACK_URL="http://localhost:5173/auth/desktop/callback"
DESKTOP_REFRESH_TOKEN_EXPIRES_IN="30d"
DESKTOP_ACCESS_TOKEN_EXPIRES_IN="1h"