WORKOS_CLIENT_ID=""
WORKOS_API_KEY=""
WORKOS_REDIRECT_URI="http://localhost:5173/auth/callback"
WORKOS_SESSION_ID_COOKIE_NAME="workos_session_id"

JWT_PRIVATE_KEY_BASE64=""
JWT_PUBLIC_KEY_BASE64=""
JWT_KEY_ID=""
JWT_ISSUER="http://localhost:5173"

REFRESH_TOKEN_COOKIE_NAME="axonotes_auth_refresh_token"
PUBLIC_ACCESS_TOKEN_COOKIE_NAME="axonotes_auth_access_token"
WEB_REFRESH_TOKEN_EXPIRES_IN="7d"
WEB_ACCESS_TOKEN_EXPIRES_IN="15m"

PUBLIC_SPACETIME_WS="ws://localhost:3000"
PUBLIC_SPACETIME_MODULE_NAME="axonotes"

DESKTOP_AUTH_SESSION_TTL="300"
DESKTOP_AUTH_CALLBACK_URL="http://localhost:5173/auth/desktop/callback"
DESKTOP_REFRESH_TOKEN_EXPIRES_IN="30d"
DESKTOP_ACCESS_TOKEN_EXPIRES_IN="1h"

DEVICE_CODE_TTL_MS=600000
DEVICE_POLL_INTERVAL=5

RATE_LIMIT_CACHE_TTL=3600
RATE_LIMIT_CHECK_PERIOD=60

DEVICE_FLOW_WINDOW_MS=60000
DEVICE_FLOW_MAX_REQUESTS=15
DEVICE_FLOW_WEIGHT=3

DEVICE_POLL_WINDOW_MS=60000
DEVICE_POLL_MAX_REQUESTS=15
DEVICE_POLL_WEIGHT=1

TOKEN_EXCHANGE_WINDOW_MS=60000
TOKEN_EXCHANGE_MAX_REQUESTS=15
TOKEN_EXCHANGE_WEIGHT=2

TOKEN_REFRESH_WINDOW_MS=60000
TOKEN_REFRESH_MAX_REQUESTS=30
TOKEN_REFRESH_WEIGHT=1
